.container {
    display:inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px) 30px;
    font-family:sans-serif;
}

.logo {
    float: left; 
}
.main-nav{
    float:right;
}

.main-nav .link{
    font-size: 20px;
    text-decoration: none;
    margin-left: 3em;
}

.main-nav .link:hover{
    color:blueviolet;
    cursor: pointer;
    text-decoration: underline;

}

.left-column{
    width: 60%;
    margin-top:100px; 
    float:left;
}

.right-column{
    width: 40%; 
    height: 500px; 
    object-fit: contain; 
    float: left;
}

.main-title{
    font-size: 50px;
    margin: 0;
    font-weight:50;
}

.title.main-title{
    font-weight: 1000;
}

.description::before {
    display: block;
    content: '';
    width: 120px;
    height: 3px;
    margin: 10px 0;
    background-color: #B5DFEF;
}

@media (max-width: 1100px) {
    .container {
        width: 900px;
        margin: 0 calc(50% - 450px) 30px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 700px;
        margin: 0 calc(50% - 350px) 30px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 500px;
        margin: 0 calc(50% - 250px) 30px;
    }
}

@media (max-width: 440px) {
    .container {
        width: 400px;
        margin: 0 calc(50% - 200px) 20px;
        }
}

@media (max-width: 1100px) {
    .main-nav .link {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    .main-nav .link {
        font-size: 12px;
    }
    .main-title {
        font-size: 30px;
    }
    .btn {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    header > .container {
        display: grid;
            }
}
